<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohseat.ohseatback.domain.recommend.mapper.RecommendMapper">
    <!--최근 언급 많이 된 영화관 조회-->
    <select id="getTrendingCinema" resultType="com.ohseat.ohseatback.domain.recommend.dto.CinemaDTO">
        SELECT
            p.cinema_id,
            c.multiplex_id,
            c.area_id,
            c.cinema_name,
            c.cinema_addr,
            COUNT(*) AS post_count,
            SUM(p.like_count) AS total_like
        FROM post p
        JOIN cinema c ON p.cinema_id = c.cinema_id
        WHERE p.created_at >= DATE_SUB(NOW(), INTERVAL 7 DAY)
        GROUP BY
            p.cinema_id,
            c.multiplex_id,
            c.area_id,
            c.cinema_name,
            c.cinema_addr
        ORDER BY
            post_count DESC,
            total_like desc
            limit 5;
    </select>

    <!--영화관 리스트 조회-->
    <select id="getCinemaList" resultType="com.ohseat.ohseatback.domain.recommend.entity.CinemaEntity">
        SELECT *
        FROM cinema c
        WHERE c.multiplex_id = #{multiplexId}
        <if test="areaId != '00'">
            AND c.area_id = #{areaId}
        </if>
    </select>

    <!--상영관 리스트 조회-->
    <select id="getScreenList" resultType="com.ohseat.ohseatback.domain.recommend.dto.ScreenDTO">
        SELECT *
        FROM screen s
        WHERE s.multiplex_id = #{multiplexId}
        <if test="cinemaId != 'all_c'">
            AND s.cinema_id = #{cinemaId}
        </if>
    </select>

    <!-- 게시글 리스트 조회 -->
    <select id="getPostList" resultType="com.ohseat.ohseatback.domain.recommend.entity.PostDomain">
        SELECT  p.*,
                m.multiplex_name,
                c.cinema_name,
                COALESCE(pc.comment_count, 0) AS comment_count
        FROM post p
        LEFT JOIN multiplex m ON p.multiplex_id = m.multiplex_id
        LEFT JOIN cinema c ON p.cinema_id = c.cinema_id
        LEFT JOIN (
            SELECT post_id, COUNT(*) AS comment_count
            FROM post_comment
            GROUP BY post_id
        ) pc ON p.post_id = pc.post_id
        WHERE 1=1
            <if test="multiplexId != 0">
                AND p.multiplex_id = #{multiplexId}
            </if>
            <if test="areaId != '00'">
                AND p.area_id = #{areaId}
            </if>
            <if test="cinemaId != 'all_c'">
                AND p.cinema_id = #{cinemaId}
            </if>
            <if test="screenId != 'all_s'">
                AND p.screen_id = #{screenId}
            </if>
        <choose>
            <when test="orderType == 'views'">
                ORDER BY p.views DESC, p.post_id DESC
            </when>
            <when test="orderType == 'comments'">
                ORDER BY COALESCE(pc.comment_count, 0) DESC, p.post_id DESC
            </when>
            <otherwise>
                ORDER BY p.created_at DESC, p.post_id DESC
            </otherwise>
        </choose>
        LIMIT #{size} OFFSET #{offset}
    </select>

    <!-- 게시글 개수 조회 -->
    <select id="countPosts" resultType="long">
        SELECT COUNT(*)
        FROM post p
        WHERE 1=1
        <if test="multiplexId != 0">
            AND p.multiplex_id = #{multiplexId}
        </if>
        <if test="areaId != '00'">
            AND p.area_id = #{areaId}
        </if>
        <if test="cinemaId != 'all_c'">
            AND p.cinema_id = #{cinemaId}
        </if>
        <if test="screenId != 'all_s'">
            AND p.screen_id = #{screenId}
        </if>
    </select>

    <!--게시글 상세 조회 : 이전글시퀀스, 다음글시퀀스 추가-->
    <select id="getPostDetail" resultType="com.ohseat.ohseatback.domain.recommend.entity.PostDomain">
        <![CDATA[
            SELECT
                (SELECT post_id FROM post WHERE post_id < #{postId} ORDER BY post_id DESC LIMIT 1) AS prev_id,
                (SELECT post_id FROM post WHERE post_id > #{postId} ORDER BY post_id ASC LIMIT 1) AS next_id,
                p.*,
                c.cinema_name,
                c.cinema_addr
            FROM post p
            JOIN cinema c ON p.cinema_id = c.cinema_id
            WHERE p.post_id = #{postId}
        ]]>
    </select>


    <!-- 유저 정보 리스트 조회 -->
    <select id="getUserList" resultType="com.ohseat.ohseatback.domain.user.entity.User">
        SELECT u.user_id, u.nickname
        FROM users u
        WHERE u.user_id IN
        <foreach collection="userIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 유저 정보 1명 조회 -->
    <select id="getUser" resultType="com.ohseat.ohseatback.domain.user.entity.User">
        SELECT u.user_id, u.nickname
        FROM users u
        WHERE u.user_id =#{id}
    </select>

    <!-- 댓글 개수 -->
    <select id="getCommentCountMap" resultType="map">
        SELECT p.post_id, COUNT(*) AS commentCount
        FROM post_comment p
        WHERE p.post_id IN
        <foreach collection="postIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        GROUP BY p.post_id
    </select>

    <!-- 댓글 1개 개수 조회 -->
    <select id="getCommentCount" resultType="Long">
        SELECT  COUNT(*)
        FROM post_comment p
        WHERE p.post_id =#{id}
    </select>

    <!-- 댓글 리스트 조회 -->
    <select id="getCommentList" resultType="com.ohseat.ohseatback.domain.recommend.entity.CommentDomain">
        SELECT *
        FROM post_comment p
        WHERE p.post_id = #{postId}
    </select>

    <!--댓글 작성 -->
    <insert id="putComment" parameterType="com.ohseat.ohseatback.domain.recommend.entity.CommentDomain">
        INSERT INTO post_comment (commenter_id, post_id, content)
        VALUES (#{commenterId}, #{postId}, #{content})
    </insert>

    <update id="updateComment" parameterType="com.ohseat.ohseatback.domain.recommend.entity.CommentDomain">
        UPDATE post_comment
          SET  content = #{content}, updated_at = NOW()
        WHERE comment_id = #{commentId}
    </update>

    <!-- 게시글 작성 -->
    <insert id="putPost" parameterType="com.ohseat.ohseatback.domain.recommend.entity.PostDomain" useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO post (author_id, multiplex_id, area_id, cinema_id, screen_id, title, content)
        VALUES (#{authorId}, #{multiplexId}, #{areaId}, #{cinemaId}, #{screenId}, #{title}, #{content})
    </insert>

    <!--게시글 수정-->
    <update id="updatePost" parameterType="com.ohseat.ohseatback.domain.recommend.entity.PostDomain">
        UPDATE post
        SET multiplex_id = #{multiplexId},
            area_id = #{areaId},
            cinema_id = #{cinemaId},
            screen_id = #{screenId},
            title = #{title},
            content = #{content}
        WHERE post_id = #{postId}
    </update>

    <!--게시글 삭제-->
    <delete id="deletePost" parameterType="int">
        DELETE FROM post
        WHERE post_id = #{postId}
    </delete>

    <!--댓글 삭제-->
    <delete id="deleteComment" parameterType="int">
        DELETE FROM post_comment
        WHERE comment_id = #{commentId}
    </delete>

    <!-- 조회수 증가 -->
    <update id="incrementViewCount" parameterType="int">
        UPDATE post
        SET views = views + 1
        WHERE post_id = #{postId}
    </update>

    <!--유저의 좋아요 여부 -->
    <select id="isPostLike" parameterType="com.ohseat.ohseatback.domain.recommend.entity.PostLikeDomain">
        select count(*)
        from post_like
        where post_id=#{postId}
        and post_like_user_id=#{userId}
    </select>

    <!--좋아요 추가-->
    <insert id="insertPostLike" parameterType="com.ohseat.ohseatback.domain.recommend.entity.PostLikeDomain">
        INSERT INTO post_like (post_id, post_like_user_id)
        VALUES (#{postId}, #{userId});
    </insert>
    <update id="insertPostLikeCount" parameterType="int">
        update post
        set like_count = like_count+1
        where post_id = #{postId}
    </update>

    <!--좋아요 취소-->
    <delete id="deletePostLike" parameterType="int">
        delete from post_like
        where post_id = #{postId}
        and post_like_user_id=#{userId}
    </delete>
    <update id="deletePostLikeCount" parameterType="int">
        update post
        set like_count = like_count-1
        where post_id = #{postId}
    </update>

    <!--가장 최근 게시글 top3-->
    <select id="getPostListRecentTop3" resultType="com.ohseat.ohseatback.domain.recommend.entity.PostDomain">
        select
            p.post_id,
            m.multiplex_name,
            c.cinema_name ,
            s.screen_name,
            p.cinema_id,
            p.screen_id,
            p.author_id,
            p.content,
            p.created_at
        from post p, multiplex m, cinema c, screen s
        where p.multiplex_id = m.multiplex_id
          and p.cinema_id = c.cinema_id
          and p.screen_id = s.screen_id
        order by created_at desc
            limit 3;
    </select>

</mapper>
